@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-text:#000000;
$secondar-color: #F2F2F2;
$primary-color:#E3C066;
$gray-color:#666666;

// Box shadows
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;       
            box-shadow: $shadow;
  }

@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
  }


  .cgreen-color {
      color: #50B5FF;
      &:hover {
          color: $primary-color;
      }
  }
  .yellow-color {
    color:  $primary-color;
  }
.fw-500 {
    font-weight: 500;
}
  @mixin primary__link {
    color: $primary-color;
    text-decoration: none;
  }


  @media (min-width: 1920px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1712px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 92%;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 93%;
    }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-text;
  @media (max-width:1366px) {
    font-size: 14px;
}
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 0.005em;
}

// Header


.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media (max-width:991px) {
        display: block;
        position: relative;
    }
    .header__left {
        width: 50%;
        @media (max-width:991px) {
            width: 100%;
        }
    }
    .header__right {
        width: 50%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        @media (max-width:991px) {
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 100px;
        }
        .button {
            @media only screen and (min-width:992px) and (max-width:1024px) {
                font-size: 12px;
                padding: 0.94rem 0.5rem;
            }
        }
    }
}




.desktop-none {
    @media (min-width:991px) {
        display: none;
    }
}

.mobile-none {
    @media (max-width:991px) {
        display: none;
    }
}


.navbar-collapse {
    @media (max-width:991px) {
        position: absolute;
        z-index: 9;
        background: #fff;
        width: 100%;
        top: 58px;
        border: 1px solid #e2dedc;
        padding: 15px;
    }
}


#primary__header {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    @media (max-width:991px) {
        padding-top: 1.5rem; 
    }
    .container-fluid {
        @media (max-width:991px) {
            padding: 0; 
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media only screen and (min-width:992px) and (max-width:1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 6px;
        padding-left: 6px;
    }
}
.navbar-toggler {
    @media (max-width:991px) {
        padding: 0;
        border: none;
    }
}
.navbar-brand {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    @media only screen and (min-width:992px) and (max-width:1024px) {
        width: 200px;
    }
    @media (max-width:991px) {
        width: 140px;
    }
    img {
        @media (max-width:1366px) {
            width: 100%;
            max-width: 60%;
        }
        @media (max-width:991px) {
            max-width:100%;
        }
    }
}
.primary__menu {
    a {
        font-size: 1.25rem;
        color: $body-text !important;
        font-weight: 500;
        @media (max-width:1680px) {
            font-size: 1rem;
        }
        @media (max-width:1366px) {
            font-size: 14px;
        }
    }
}
.dropdown-toggle::after {
    margin-left: 0.5em;
    background: url(../public/images/arrow-down.svg);
    border: none;
    width: 11px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 0;
}

.header__info {
    .header__info__list {
        a {
            position: relative;
            border: 1px solid $body-text;
            border-radius: 50%;
            width: 3.8125rem;
            height: 3.8125rem;
            display: inline-block;
            line-height: 3.8125rem;
            text-align: center;
            .cart__count {
                width: 24px;
                height: 24px;
                position: absolute;
                background: #F3692E;
                border-radius: 50%;
                line-height: 24px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                top: 8px;
                right: 4px;
                @media (max-width:1366px) {
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                }
                @media (max-width:991px) {
                    top: -9px;
                    right: -9px;
                }
            }
            @media (max-width:1366px) {
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
            }
            @media only screen and (min-width:992px) and (max-width:1024px) {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            @media (max-width:991px) {
                width: 19px;
                height: auto;
                line-height: initial;
                border: none;
            }
           img {
            @media (max-width:1024px) {
                width: 18px;
            }
           }
        } 
    }
    @media (max-width:991px) {
        justify-content: flex-end;
    }
}


// Home Categoires
.home__category {
    .see__all__link {
        a {
            font-size: 1.25rem;
            color: $body-text;
            font-weight: 500;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .category__box {
        background: #f2f2f2;
        position: relative;
        padding: 30.4% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 20px;
        text-decoration: none;
        @media (max-width:991px) {
            margin-bottom: 1rem;
        }
        h3 {
            font-size: 1.625rem;
        }
        img {
            position: absolute;
            width: 100%;
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h4 {
            position: relative;
            font-weight: 700;
            color: #fff;
            z-index: 2;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.25rem;
            transition: all 0.5s ease;
            @media (max-width:1366px) {
                font-size: 1rem;
            }
            img {
                position: relative;
                width: auto;
                font-family: 'Montserrat';
            }
        }
        &:after {
            position: absolute;
            background: rgba(0,0,0,0.6);
            width: 93%;
            height: 93%;
            content: '';
            border-radius: 20px;
            z-index: 1;
        }
        &:hover {
            h4 {
                transform: scale(1.4);
            }
        }
    }
}


// Home Products
.home__products {
    margin-top: 8rem;
    margin-bottom: 6rem;
    .primary__content__row  {
        h2 {
            font-size: 3.5rem;
            margin-bottom: 3rem;
            @media (max-width:1680px) {
                font-size: 2.5rem;
            }
            @media (max-width:991px) {
                font-size: 1.5rem;
            }
        }
    }
    .explore-product-btn {
        padding-left: 2.2rem;
        padding-right: 2.2rem;
    }
}

.product__col {
    margin-bottom: 4rem;
    .product__card {
        .product__image {
            background: #f2f2f2;
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 1.2rem;
            padding: 3.1rem 2rem;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        .product__date {
            .product__title {
                display: block;
                color: #000;
                text-decoration: none;
                font-size: 1.25rem;
                transition: all 0.5s ease;
                &:hover {
                    color: $primary-color;
                }
                @media (max-width:1680px) {
                    font-size: 1.1rem;
                }
                @media (max-width:767px) {
                    font-size: 1rem;
                }
            }
            .product__category__name {
                color: rgba(0,0,0,0.5);
                @media (max-width:1680px) {
                    font-size: 0.9rem;
                }
            }
        }
        .product__price {
            margin-top: 1rem;
            .product__price__regular {
                font-weight: 600;
                font-size: 1.25rem;
                @media (max-width:1680px) {
                    font-size: 1.1rem;
                }
                @media (max-width:767px) {
                    font-size: 1rem;
                }
            }
            .product__price__old {
                font-weight: normal;
                font-size: 0.875rem;
                text-decoration: line-through;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}




// Home CTA
.cta-banner {
    position: relative;
    padding: 9.2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    background: $secondar-color;
    margin-bottom: 5rem;
    @media (max-width:991px) {
        margin-bottom: 2.5rem;
    }
    &:after {
        position: absolute;
        background: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        content: '';
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .cta-banner-content {
        position: relative;
        z-index: 2;
        h3 {
            font-size: 3.5rem;
            color: #fff;
            @media (max-width:1680px) {
                font-size: 2.5rem;
            }
            @media (max-width:991px) {
                font-size: 1.5rem;
            }
        }
    }
}


// Button Style 1
.btn-style-1 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border: 1px solid;
    background: transparent;
    text-transform: capitalize;
    padding: 0.91rem 3.9rem;
    border-radius: 10px;
    &:hover {
        background: #fff;
        color: $body-text;
        border-color: #fff;;
    }
    @media (max-width:1680px) {
        font-size: 1rem;
    }
    @media (max-width:991px) {
        font-size: 14px;
        padding: 0.91rem 2rem;
    }
}
.black-outline-btn {
    color: $body-text;
    border-color: $body-text;
    &:hover {
        background: $body-text;
        color: #fff;
        border-color: $body-text;
    }
}
.white-bg-btn {
    background: #fff;
    color: $body-text;
    border-color: #fff;
    &:hover {
        background: transparent;
        color: #fff;
    }
}

// Shop Page
.page__banner {
    background: $secondar-color;
    border-radius: 20px;
    margin-bottom: 5rem;
    position: relative;
    .col-lg-9 {
        padding:8.3rem 1rem 8.3rem 4rem;
        @media only screen and (min-width:768px) and (max-width:1024px) {
            padding: 4rem;
        }
        @media (max-width:767px) {
             padding: 2rem 1rem 2rem 2rem;
        }
        h1 {
            font-size: 2.875rem;
            margin-bottom: 1rem;
            @media (max-width:1024px) {
                font-size: 1.5rem;
            }
        }
        .breadcrumb {
            a, li {
                color: $body-text;
                text-decoration: none;
            }
        }
    }
}

.my-account-banner-img {
    width: 37%;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        margin: 0 auto;
        bottom: 0;
    }
}
.product__filter__sidebar {
    .product__filter__box {
        .product__filter__title {
            font-size: 1.5rem;
            margin-bottom: 1.3rem;
        }
        .filter__menu {
            li {
                margin-bottom: 1.4rem;
                a {
                    color: $body-text;
                    position: relative;   
                    display: block;
                    font-weight: 500;
                    &:after {
                        background: url(../public/images/category_menu_arrow.svg) no-repeat;
                        content: '';
                        position: absolute;
                        right: 0;
                        background-position: center right;
                        top: -14px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.radio__filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .form-check-inline {
        padding: 0;
        margin-bottom: 1.2rem;
        input[type=radio]{
            display:none;
        }
        input[type=radio] + label {
            background-color: #E2E2EA;
            border-radius: 50%;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            color: transparent;
            cursor: pointer;
        }
        input[type=radio]:checked + label{
            background-color: $primary-color;
        }
    }
}

.range {

    .price__range__slider {
        width: 100%;
        margin-bottom: 1.5rem;
    } .range-slider__tooltip__label {
        text-align: right;
    }
    .form-label {
        top: -23px;
        position: relative;
    }
}
// Input Checkbox
.product__variations {
    .product__variations__row {
      .product__variations__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        .product__variations__swatches {
            position: relative;
            height: 3.5rem;
            width: auto;
            padding: 0 15px;
            border-radius: 8px;
            text-align: center;
            font-weight: 500;
            line-height: 3.5rem;
            min-width: 3.5rem;
            font-size: 1rem;
          .checkbox-style-1[type="checkbox"] {
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid #D2D2D2;
            margin: 0;
            border-radius: 8px;
            &:checked[type="checkbox"] {
              border: 1px solid $primary-color;
              background: transparent;
            }
            &:focus {
              box-shadow: none;
            }
          }
        }
        .product__variations__swatches--color {
            .checkbox-style-1[type="checkbox"] {
                &:checked[type="checkbox"] {
                    outline: 1px solid $primary-color;
                    border: 3px solid #fff ;
                  }
            }
        }
      }
    }
  }
.form-check-style-1 {
    width: 100%;
    .form-check-label {
      font-size: 13px;
      font-weight: 500;
      color: var(--dark-gray-1);
      cursor: pointer;
    }
    .form-check-input {
      &:checked {
        background-color: var(--orange-color);
        border-color: var(--orange-color);
      }
    }
  }
  .selected {
    .form-check-label {
      color: var(--black-color);
      font-weight: 600;
    }
  }


// input[type=checkbox] {
//     cursor: pointer;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 0;
//     text-align: center;
//     left: 0;
//     transform: translate(-50%, -50%);
// }

// input[type=checkbox]:checked + label{
//     background-color: $primary-color;
// }
// .form-check-inline {
//    position: relative;
// }
// Promotion Widget

.promotion__widget {
    background: $primary-color;
    border-radius: 20px;
    padding: 3rem 2rem 4rem 2rem;
    @media (max-width:1680px) {
        padding: 3rem 1rem 4rem 1rem;
    }
    @media (max-width:991px) {
        margin-bottom: 2rem;
    }
    .promotion__content {
        h4 {
            font-size: 2.4375rem;
            letter-spacing: 0.005em;
            margin-bottom: 1rem;
            @media (max-width:1680px) {
                font-size: 1.8rem;
            }
        }
        p {
            letter-spacing: 0.005em;
            font-size: 1.5rem;
            @media (max-width:1680px) {
                font-size: 1rem;
            }
        }
    }
    .promotion-btn {
        color: #7A6005;
        font-weight: bold;
        padding: 0.78rem 3.1rem 0.78rem 1.1rem;
        font-size: 1rem;
        background-color: #fff;
        position: relative;
        img {
            position: absolute;
            right: 1rem;
            top: 14px;
        }
    }
} 

.product__search__filter {
    .input-group {
        .input-group-text {
            background-color: transparent;
            border-color: #F86338;
            padding-right: 1.5rem;
        }
        .form-control {
            border: 1px solid #F86338;
            padding: 0.7rem 1rem;
            border-radius: 8px;
            border-right: 0;
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.main__shop {
    margin-bottom: 7rem;
    .sorting {
        span {
            font-weight: 500;
            border-color: $body-text;
        }
        .form-select {
            border-color: $body-text;
            font-weight: 500;
        }
        .hide-element {
            @media (max-width:767px) {
                display: none;
            }  
        }
    }
}

// Single Product
    .product__details {
        border-top: 1px solid #E1E1E1;
        padding-top: 3rem;
        .product__details__title {
            margin-bottom: 1.9rem;
        }
        p {
            color: #515151;
            letter-spacing: 0.005em;
            line-height: 125%;
        }
        ul {
            li {
                list-style: none;
                position: relative;
                padding-left: 3rem;
                margin-bottom: 2rem;
                &:after {
                    position: absolute;
                    background: url(../public/images/right-icon.svg) no-repeat;
                    width: 45px;
                    height: 45px;
                    content: '';
                    left: 0;
                }
            }
        }
    }




// People Also Bought
.people__also__bought {
    overflow: hidden;
    padding-top: 5rem;
    margin-bottom: 5rem;
    @media (max-width:991px) {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .people__also__bought__title {
        font-size: 1.625rem;
        margin-bottom: 3.5rem;
        @media (max-width:767px) {
            font-size: 1.2rem;
            margin-bottom: 2.5rem;
        }
    }
    .swiper {
        overflow: visible;
        .swiper-button-next, .swiper-button-prev {
            top: -6.5rem;
            width: 3.8125rem;
            height: 3.8125rem;
            border-radius: 50%;
            border: 1px solid $body-text;
            padding: 0;
            margin: 0;
            @media (max-width:767px) {
                top: -4.5rem;
                width: 2.5rem;
                height: 2.5rem;
            }
            &:after {
                font-size: 1.4rem;
                color: $body-text;
                @media (max-width:767px) {
                    font-size: 1rem;
                }
            }
        }
        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: auto;
            right: 5.5rem;
            @media (max-width:767px) {
                right: 3.5rem;
            }
        }
        .swiper-button-disabled {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

// Product Summary
.single__product__right {
    padding-left: 2rem;
    @media (max-width:991px) {
        padding-left: 0;
    }
    .product__summary {
        .single__product__title {
            font-size: 3rem;
            margin-bottom: 2.4rem;
            margin-top: 1.1rem;
            @media (max-width:1366px) {
                font-size: 2rem;
            }
        }
        .priduct__variant  {
            .row {
                margin-bottom: 1.1rem;
                .prduct__data__list {
                     li {
                         list-style: none;
                         display: inline-block;
                         color: $gray-color;
                         margin-right: 0.5rem;
                     }
                }
            }
        }
        .price {
            strong {
                color: $primary-color;
                font-size: 2.4375rem;
            }
            .price__old {
                font-size: 1.1875rem;
                color: #9A9AB0;
                text-decoration: line-through;
                padding-left: 1rem;
            }
        }
    }
}


// Input Quantity

.quantity  {
    width: 100%;
    max-width: 11.5rem;
    .input-quantity {
        border: none;
        text-align: center;
        font-size: 1.25rem;
    }
    .btn {
        border: 1px solid $primary-color;
        box-sizing: border-box;
        border-radius: 8px;
        width: 3.5rem;
        height: 3.5rem;
    }
}



.button-icon {
    background: #e3c066;
    background: #E3C066;
    border-radius: 8px;
    padding: 18px 15px;
    font-weight: bold;
    @media (max-width:767px) {
        font-size: 14px
    }
    img {
        margin-right: 0.7rem;
    }
    &:hover {
        opacity: 0.8;
    }
}
.add-to-cart-btn {
    background: #E7E7E7;
}
// Product Thumbnail Slider

.single__product__main {
    margin-bottom: 4.5rem;
    
.single__product__left {
    @media (max-width:991px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    .product__thumbnail {
        float: left;
        width: 121px;
        height: 775px;
        @media (max-width:991px) {
            float: none;
            width: 100%;
            height: auto;
        }
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            cursor: pointer;
            background: $secondar-color;
            padding: 0 1rem;
            border-radius: 10px;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        .swiper-slide-thumb-active {
            border: 2px solid $primary-color;
        }
    }
    .product__big__thumbnails {
        float: right;
        width: calc(100% - 141px);
        height: 775px;
        @media (max-width:991px) {
            float: none;
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
        }
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 0 4rem;
            background: $secondar-color;
            border-radius: 10px;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}
}

// Testimonials

.testimonials {
    overflow: hidden;
    .testimonial__title {
        margin-bottom: 6rem;
    }
    width: 100%;
    max-width: 66%;
    margin: 0 auto;
    margin-bottom: 5rem;
    @media (max-width:991px) {
        max-width: 100%;
    }
    .testimonial__Swiper {
        overflow: visible;
        .swiper-slide {
            background: #f2f2f2;
            border-radius: 8px;
            .testimonial__col {
                padding: 1rem 13rem 3rem 13rem;
                @media (max-width:991px) {
                    padding: 1rem 5rem 3rem 5rem;
                }
                    img {
                        margin-top: -5rem;
                        margin-bottom: 2.5rem;
                    }
                    p {
                        margin-bottom: 3rem;
                    }
            }
        }
        .swiper-button-next, .swiper-button-prev {
            &:after {
                color: #F3692E;
            }
        }
    }
}

// Cart Page

.cart__table {
    thead {
        background: $secondar-color;
    }
    th {
        padding: 1.2rem 0;
        @media (max-width:991px) {
            padding: 1.2rem 1.2rem; 
        }
        strong {
            font-size: 1.5rem;
            font-weight: 700;
            @media (max-width:991px) {
                font-size: 1rem;
            }
        }
    }
    .cart__row {
        td {
            padding: 1.3rem 0;
            @media (max-width:991px) {
                padding: 1rem 1rem; 
            }
            h4 {
                @media (max-width:1366px) {
                    font-size: 1rem;
                } 
            }
            strong {
                font-size: 1.5rem;
                 font-weight: 700;
                 @media (max-width:1366px) {
                    font-size: 1rem;
                }
            }
            .delete__cart__item {
                cursor: pointer;
                &:hover {
                    svg, path {
                        fill: red;
                    }
                }
            }
        }
        .cart__td {
            width: 14%;
        }
        .cart__img {
            width: 200px;
            a {
                width: 8.3125rem;
                height: 5rem;
                background: $secondar-color;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                overflow: hidden;
                padding: 1.3rem;
            }
        }
    }
}

.coupen__wrapper {
    background: #fff7f4;
    border-radius: 8px;
    padding: 5rem 4rem;
    @media (max-width:767px) {
        padding: 2rem 2rem;
    }
    .form-control {
        background-color: transparent;
        margin-bottom: 2.2rem;
    }
}

.form-control:focus {
    border-color: $primary-color;

    @include box-shadow( 0 0 15px rgba( $primary-color, .5));
}

.button {
    background: $primary-color;
    padding: 0.94rem 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    border-color: $primary-color;
    color: $body-text;
    &:hover {
        color: $primary-color;
        background: $body-text;
        border-color: $body-text;
    }
    @media (max-width:1366px) {
        font-size: 14px;
    }
}
.button-outline {
    background: transparent;
    border-color: #000;
}
.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.cart__total__wrapper {
    padding-left: 12rem;
    @media (max-width:991px) {
        padding-left: 0;
        padding-top: 2rem;
    }
    .row {
        .col {
            span {
                color: $gray-color;
            }
            .change__shipping__link {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
    .button {
        margin-top: 6.5rem;
        @media (max-width:991px) {
            margin-top: 1.5rem;
        }
    }
}


// Start Checkout

.checkout__mini__cart {
    background-color: $secondar-color;
    padding: 2rem 1.5rem 5rem 1.5rem;
    .cart__table {
        .cart__row {
            .cart__img {
            width: 102px;
                a {
                    width: 102px; 
                    margin-right: 1.3rem;
                }
            }
            strong {
                color: $primary-color;
            }
        }
    }
}


.checkout__form  {
    padding-right: 8rem;
   .title {
        font-size: 1.9375rem;
        margin-bottom: 2.5rem;
    }
    label {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
        text-transform: capitalize;
    }
}
.form-control {
    border: 2px solid $primary-color;
    padding: 0.94rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    color: #9A9AB0;
}
.same-as-shipping {
    @include primary__link();
    &:hover {
        color: $body-text;
    }
}



// Start Login Page
.input-alert {
    border: 2px solid #DB2828;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 1.5rem 1rem;
    color: #DB2828;
    font-weight: 500;
}
.user__signup__box {
    width: 760px;
    max-width: 760px;
}
.form__box {
    border-radius: 20px;
    padding: 4rem 3rem;
    background: #FAFAFA;
    border: 1px solid #b5b5b573;
    @media (max-width:1366px) {
        padding: 4rem 2rem;
    }
    @media (max-width:767px) {
        padding: 4rem 1.5rem;
    }
    .form-floating {
        margin-bottom: 2.3rem;
    }
}
.login__top__row {
    margin-bottom: 3rem;
    h3 {
        font-size: 2.875rem;     
        margin-bottom: 1.5rem;
        @media (max-width:1366px) {
            font-size: 2rem;  
        }
    }
    p {color: #92929D;}
}

.form-floating>.form-control:focus~label, 
.form-floating>.form-control:not(:placeholder-shown)~label, 
.form-floating>.form-select~label {
    background: #FAFAFA;
    height: auto;
    padding: 0px 6px;
    opacity: 1;
    left: 1rem;
    color: #007FFF;
}
.gray__form  {
    .form-control {
        padding: 0.94rem 1.5rem;
        font-size: 1rem;
        border-radius: 5px;
        color: rgba(68, 68, 79, 10.6);
        border: 1px solid #B5B5B5;
        background-color: transparent;
        color: #696974;
        &:focus {
            box-shadow: none;
            border-color: #007FFF;
        }
    }
    .form-check {
        label {
            color: #696974;
            @media (max-width:767px) {
                font-size: 14px;
            }
        }
    }
    .toggle-password {
        position: absolute;
        right: 1.2rem;
        top: 1.3rem;
        cursor: pointer;
    }
}

.or {
    p {
        margin-top: -32px !important;
        background: #fff;
        width: 57px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        font-size: 20px;
        color: #696974;
    }
}

.social__login__btn {
    @media (max-width:767px) {
        flex-wrap: wrap; 
    }
    margin: 0 4rem;
    @media (max-width:767px) {
        margin: 0 auto;
    }
    .btn {
        display: block;
        width: 100%;
        margin: 0 0.6rem;
        padding: 0.7rem 1rem;
        border-radius: 10px;
        font-weight: 700;
        color: #fff;
        font-size: 1.1rem;
        background-color: #1877F2;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
        @media (max-width:767px) {
            margin-bottom: 0.6rem;
        }
    }
    .google-login {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.54);
    }
}

    .mobile-fs-14 {
        @media (max-width:767px) {
        font-size: 1rem !important;
        }
}

// Start My Account Page
.my__account__left {
    border-right: 1px solid #b5b5b573;
    .nav-item {
        .nav-link {
            font-size: 1.5rem;
            color: $body-text;
            padding: 1.2rem 0;   
            cursor: pointer;
            @media (max-width:1366px) {
                font-size: 1.1rem;
            }
        }
        .active {
            background-color: transparent;
            color: $primary-color !important;
            font-weight: 700;
        } 
        &:first-child {
            .nav-link {
                padding-top: 0;
            }
        }
    }
}
.my__account__right {
    .card {
        .badge {
            font-size: 1rem;
        }
    }
}

// Edit Billing Address

.edit-billing  {
    .card {
        background: $primary-color;
        color: #fff;
        .list-group-item {
            border: transparent;
            background: #fafafa;
        }
    }

}


.order__track__progress {
    margin-top: 6rem;
    border-radius: 20px;
    padding: 2rem 2rem 2rem 0.5rem;
    border: 1px solid #b5b5b573;
    .order__track__progress__row {
        position: relative;
        .order__track__box {
            position: relative;
            p {
                width: 81%;
                margin: 0 auto;
                margin-bottom: 0.7rem;
            }
            span {
                color: #92929D;
            }
            &:after {
                position: absolute;
                content: '';
                background: $primary-color; 
                top: -55px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                z-index: 2;
                outline: 6px solid #fafafa;
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
        .big-circle {
            &:after {
                width: 38px;
                height: 38px;
                top: -68px;
            }
        }
        .in-complete {
            &:after {
                background: #F2E6C8;
            }
        }
        &:after {
            position: absolute;
            background: $primary-color;
            width: 90%;
            height: 1px;
            content: '';
            left: 0;
            top: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}


// Not Found Page
.not__found__page {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 2rem;
    }
}


// Start Product Modal
._2_g61, ._53Ji7 {
    @media (max-width:991px) {
        padding: 1rem;
    }
}
._2Jtxm ._2kL0S, ._2Jtxm ._2JvrO {
    background-color: #fff !important;
    border: 1px solid #000000;
    color: #000000;
    height: 5.25rem !important;
    width: 5.25rem !important;
    font-weight: 600;
    font-size: 1.25rem;
    @media (max-width:991px) {
        height: 2.25rem !important;
        width: 2.25rem !important;
        font-size: 14px;
    }
}
._2Jtxm._35Ago ._2kL0S,
._2Jtxm._2ZUAI ._2JvrO {
    background-color: $primary-color !important;
    border-color: $primary-color;
}
._2Jtxm::before {
    background: linear-gradient(to left, #e3c066 50%, #e3c066 50%);
}
._hsN1w {
    background-color: $primary-color !important;
    border-color: $primary-color;
    text-decoration: none;
    border-radius: 0;
}
._3CDiP {
    border: 1px solid $primary-color;
    background: #ffff !important;
    border-radius: 0;
    color: $body-text;
    text-decoration: none;
}
._2Jtxm ._1hzhf {
    font-weight: 600;
}
._2Jtxm ._1hzhf {
    font-size: 1.25rem;
    @media (max-width:991px) {
        font-size: 14px;
    }
}

.modal-product {
    max-width: 90%;
    @media (max-width:991px) {
        max-width: 100%;
    }
    .product__customize__title {
        font-size: 3rem;
        padding-left: 3rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        @media (max-width:991px) {
            font-size: 1rem;
        }
    }
    .enter__description {
        margin-bottom: 3rem;
        margin-top: 5rem;
        @media (max-width:991px) {
            font-size: 1rem;
        }
    }
    .t__price {
        text-align: center;
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        width: 200px;
        margin: 0 auto;
        strong {
            font-size: 1.25rem;
            @media (max-width:991px) {
                font-size: 1rem;
            }
        }
        p {
            font-size: 2.4375rem;
            color: $primary-color;
            font-weight: 600;
            @media (max-width:991px) {
                font-size: 1rem;
            }
        }
    }
    .checkbox__box {
        margin-bottom: 1.5rem;
        .checkbox__row {
            margin: 0;
            border: 1px solid #CDCDCD;
            overflow: hidden;
            padding: 2rem 0;
            position: relative;
            .img-circle-col {
                .img-circle {
                    border: 1px solid #CDCDCD;
                    width: 11.875rem;
                    height: 11.875rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    background: #F7F3EA;
                    strong {
                        color: $primary-color;
                        font-size: 1.2rem;
                    }
                }
            }
            .content-col {
                padding-right: 0;
                h4 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    position: relative;
                    padding-bottom: 1rem;
                    margin-bottom: 2rem;
                    @media (max-width:991px) {
                        font-size: 1rem;
                        margin-top: 2rem;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        background: $primary-color;
                        width: 100%;
                        height: 4px;
                        right: 0;
                        bottom: 0;
                    }
                }
                p {
                    font-size: 1.125rem;
                    @media (max-width:991px) {
                        font-size: 1rem;
                    }
                }
            }
            .customize-checkboxes {
                position: absolute;
                right: 1rem;
                top: 1rem;
                text-align: right;
                .form-check-input {
                    width: 1.9375rem;
                    height: 1.9375rem;
                    border-radius: 0 !important;
                }
            }
        }
    }
}






.product__customize__form {
    .product__form__step__row {
        column-gap: 30px;
        @media (max-width:991px) {
            display: block !important;
        }
        .product__form__step__content__col {
            width: 200px;
            @media (max-width:991px) {
                width: 100%;
                margin-bottom: 1rem !important;
            }
        }
        .product__form__step__big {
            width: 64.5%;
            @media (max-width:991px) {
                width: 100%;
                margin-bottom: 1rem !important;
            }
        }
        .product__form__step__input__col {
            width: 20%;
            @media (max-width:991px) {
                width: 100%;
                margin-bottom: 1rem !important;
            }
        }
        label {
            color: $body-text;
        }
        p {
            margin-bottom: 0;
        }
    }
    .form-control {
        color: $body-text;
        font-weight: 600;
    }
}



// Start FAQS Page

.faqs__section {
    margin-bottom: 8rem;
    .accordion {
        .accordion-item {
            .accordion-header {
                .accordion-button {
                    font-size: 2.25rem;
                    font-weight: 700;
                    padding: 2.1rem 0 2.1rem 0;
                    @media (max-width:1680px) {
                        font-size: 1.8rem;
                    }
                    @media (max-width:991px) {
                        font-size: 1.2rem;
                    }
                    &:after {
                            width: 2rem;
                            height: 2rem;
                            background-size: 2rem;
                            @media (max-width:991px) {
                                width: 1.2rem;
                                height: 1.2rem;
                                background-size: 1.2rem;
                            }
                    }
                }
            }
            .accordion-collapse {
                .accordion-body {
                    padding-left: 0;
                    p {
                        font-size: 1.375rem;
                        line-height: 125%;
                        @media (max-width:1680px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .accordion-button:not(.collapsed) {
            color: $body-text;
            background-color: #fff;
            box-shadow: none;
        }
        .accordion-button:not(.collapsed)::after {
            filter: grayscale(1);
        }
    }
    
}


// Start About Page
.about__section {
    .about__row {
        margin-bottom: 9rem;
        @media (max-width:991px) {
            margin-bottom: 4rem;
        }
        .about__content {
            span {
                font-size: 1rem;
            }
            h3 {
                font-size: 2.875rem;
                font-weight: 700;
                @media (max-width:1680px) {
                    font-size: 2rem;
                }
            }
            p {
                font-size: 1.375rem;
                width: 80%;
                @media (max-width:1680px) {
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }
        &:nth-child(even) {
            @media (max-width:991px) {
                flex-direction: column-reverse;
            }
            .about__content { 
                padding-left: 15%;
                @media (max-width:1680px) {
                    padding-left: 0;
                }
                p {
                    width: 100%;
                }
            }
        }
    }
}


// Virtual Section
.primary__content {
    h3 {
        font-size: 2.875rem;
        font-weight: 700;
        margin-bottom: 2rem;
        @media (max-width:1680px) {
            font-size: 2rem;
        }
        @media (max-width:991px) {
            font-size: 1.5rem;
        }
    }
    p {
        color: #515151;
        font-size: 1.375rem;
        @media (max-width:1680px) {
            font-size: 1rem;
        }
    }
}
.virtual__try__on__section {
    background: $secondar-color;
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media (max-width:991px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.counter__section {
    margin: 5rem 0;
    .counter__box  {
        h3 {
            color: $primary-color;
            font-size: 2.875rem;
            margin-bottom: 1.5rem;
        }
        strong {
            font-size: 1.5rem;
            width: 70%;
            margin: 0 auto;
            display: block;
            letter-spacing: 0.005em;
            line-height: 1.2;
            @media (max-width:1366px) {
                font-size: 1rem;
            }
        }
    }
}


// Contact Page

.contact__section {
    .contact__info__box {
        border: 1px solid #C4C1C1;
        border-radius: 10px;
        padding: 5rem 1rem;
        min-height: 449px;
        .contact__box__inner {
            padding: 0 2rem;
            strong {
                font-size: 1.5rem;
                @media (max-width:1680px) {
                    font-size: 1rem;
                }
            }
            p {
                color:#515151;
                font-size: 1.375rem;
                @media (max-width:1680px) {
                    font-size: 1rem;
                }
            }
            .button {
                font-size: 1.25rem;
                font-weight: normal;
                @media (max-width:1680px) {
                    font-size: 1rem;
                }
            }
        }
    }
    .get__touch__row {
        padding-top: 6rem;
        padding-bottom: 6rem;
        .form-floating {
            textarea {
                height: auto;
            }
        }
        .get__touch__content {
            .contact__info {
                li {
                    a {
                        color: #515151;
                        font-size: 1.375rem;
                        @media (max-width:1680px) {
                            font-size: 1rem;
                        }
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
            p {
                width: 60%;
            }
        }
    }
}


// Start Blog Page
.blog__col {
    margin-bottom: 6rem;
    @media (max-width:991px) {
        margin-bottom: 3rem;
    }
    .blog__content {
        h4 {
            font-size: 2.25rem;
            @media (max-width:1680px) {
                font-size: 2rem;
            }
            @media (max-width:991px) {
                font-size:1.5rem;
            }
            a {
                color: $body-text;
                &:hover {
                    color:$primary-color;
                }
            }
        }
        .blog__read__more {
            font-size: 1.25rem;
            color: $body-text;
            margin-top: 3rem;
            font-weight: 500;
            display: inline-block;
            @media (max-width:1680px) {
                font-size: 1rem;
            }
            @media (max-width:991px) {
                margin-top: 1.2rem;
            }
            &:hover {
                color:$primary-color;
            }
        }
        .meta {
            span {
                font-size: 1.375rem;
                @media (max-width:1680px) {
                    font-size: 1rem;
                }
                @media (max-width:991px) {
                    font-size:14px;
                }
            }
        }
    }
}


.blog__sidebar {
    .blog__col { 
        margin-bottom: 3rem;
        .blog__content {
            h4 {
                font-size: 1.5rem;
            }
            .meta {
                span {
                    font-size: 1rem;
                }
            }
        }
    } 
}
.blog__main {
    padding-right: 10%;
    @media (max-width:991px) {
        padding-right: 0;
    }
    p {
        font-size: 1.375rem;
        margin-bottom: 2rem;
        @media (max-width:1680px) {
            font-size: 1rem;
        }
    }
}


// Footer

.footer {
    background: $secondar-color;
    padding-bottom: 2rem;
    .newsletter__container {
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding: 2rem 0;
        .newsletter {
            .form-control {
                background: transparent;
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.4);
                @media (max-width:991px) {
                   margin-bottom: 1rem;
                   margin-top: 1rem;
                }
            }
        }
        h3 {
            @media (max-width:1366px) {
                font-size: 1.2rem;
            }
        }
    }
    .footer__info {
        padding-top: 2.8rem;
        padding-bottom: 1.6rem;
        @media (max-width:991px) {
            padding: 1.5rem 0; 
        }
        strong {
            font-weight: 600;
            margin-top: 0.8rem;
        }
    }
    .payment__icons__row {
        background: #e2e2e4;
        padding: 1.2rem 0;
        margin-bottom: 3rem;
        @media (max-width:991px) {
            text-align: center !important;
        } 
        .payment__img {
            @media (max-width:991px) {
                text-align: center !important;
            } 
            img {
                @media (max-width:991px) {
                    margin-top: 1rem;
                }
            }
        }
    }
    .footer__row {
        .col {
            @media (max-width:767px) {
                flex: auto;
                width: 50%;
            }
        }
        .widget__title {
            margin-bottom: 1.4rem;
        }
        .footer__menu {
            padding-left: 0;
            margin-bottom: 2rem;
            li {
                list-style: none;
                margin-bottom: 1rem;
                a {
                    color: $body-text;
                    text-decoration: none;
                    @include transition(all 0.5s ease);
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        .sociale__menu {
            padding-left: 0;
            list-style: none;
            li {
                a {
                    img {
                        @include transition(all 0.5s ease);
                        &:hover {
                            opacity: 0.6;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}


